<footer class="footer">
  <div class="container">
    <a href="/" class="footer-logo">
      <img src="img/svg/logo.svg" alt="">
      <span>
        <b>Мир лестниц</b>
        <p>Изготовление и монтаж лестниц под ключ и их элементо вот производителя</p>
      </span>
    </a>
    <div class="footer-info">
      <p>Полное юридическое название<br> ИНН</p>
      <p>Адреса офисов:
        <br>г. Москва, Вернисажная, 13
        <br>г. Казань, 2-я Азинская улица, 7Б
        <br>г. Киров, Производственная улица, 45</p>
    </div>
    <div class="footer-rating">
      <h4>4,2<span>/5</span></h4>
      <p><b>Рейтинг в Яндекс</b><br> на основании 236 отзывов</p>
    </div>
    <ul class="footer-nav">
      <li><a href="javascript:;" data-fancybox data-src="#popup" data-form="Вызвать замерщика">Вызвать замерщика</a></li>
      <li><a href="javascript:;" data-fancybox data-src="#popup" data-form="Посетить шоу-рум">Посетить шоу-рум</a></li>
      <li><a href="#">Портфолио</a></li>
      <li><a href="#">Сертификаты</a></li>
    </ul>
    <div class="footer-contact">
      <p>Пн. - Вс.: 10:00 - 19:00</p>
      <a href="tel:+7 (987) 294-94-74">+7 (987) 294-94-74</a>
      <a href="tel:+7 (999) 580-70-70">+7 (999) 580-70-70</a>
      <span data-fancybox data-src="#popup" data-form="Заказать бесплатный расчет"></span>
    </div>
  </div>
</footer>

<div class="popup" id="popup">
  <h3>Оставьте данные,<br> наш специалист свяжется с вами</h3>
  <form action="#" method="post">
    <select name="messenger" class="input">
      <option value="Telegram">Telegram</option>
      <option value="What's App">What's App</option>
    </select>
    <input type="tel" name="phone" class="input masked" placeholder="Ваш телефон" required />
    <input type="hidden" name="form" value="" />
    <button><b>Оставить заявку</b></button>
  </form>
  <small>Нажимая на кнопку, вы соглашаетесь<br> с Пользовательским соглашением</small>
</div>