<header class="header">
  <div class="container">
    <div class="header-top">
      <a href="/" class="header-logo">
        <img src="img/svg/logo.svg" alt="">
        <span>
          <b>Мир лестниц</b>
          <p>Изготовление и монтаж лестниц под ключ и их элементо вот производителя</p>
        </span>
      </a>
      <div class="header-info">
        <p>Адреса офисов: г. Москва, Вернисажная, 13
          <br>г. Казань, 2-я Азинская улица, 7Б
          <br>г. Киров, Производственная улица, 45</p>
        <ul>
          <li><a href="#" class="wa"><img src="img/svg/wa.svg" alt="">WhatsApp</a></li>
          <li><a href="#" class="tg"><img src="img/svg/tg.svg" alt="">Telegram</a></li>
        </ul>
      </div>
      <div class="header-rating">
        <h4>4,2<span>/5</span></h4>
        <p><b>Рейтинг в Яндекс</b><br> на основании 236 отзывов</p>
      </div>
      <a href="javascript:;" data-fancybox data-src="#popup" data-form="Скачать каталог" class="header-btn"><b>СКАЧАТЬ КАТАЛОГ<br> 800+ лестниц</b></a>
      <div class="header-contact">
        <p>Пн. - Вс.: 10:00 - 19:00</p>
        <a href="tel:+7 (987) 294-94-74">+7 (987) 294-94-74</a>
        <a href="tel:+7 (999) 580-70-70">+7 (999) 580-70-70</a>
        <span data-fancybox data-src="#popup" data-form="Заказать бесплатный расчет">Заказать бесплатный расчет</span>
      </div>
      <div class="header-burger"></div>
    </div>
    <ul class="header-nav">
      <li><a href="#">КАКИЕ ЛЕСТНИЦЫ ДЕЛАЕМ</a></li>
      <li><a href="#">КАТАЛОГ ЛЕСТНИЦ</a></li>
      <li><a href="#">ПРОИЗВОДСТВО</a></li>
      <li><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
      <li><a href="#">СОТРУДНИЧЕСТВО</a></li>
      <li><a href="#">О КОМПАНИИ</a></li>
      <li><a href="#">КОНТАКТЫ</a></li>
    </ul>
  </div>
</header>