<section class="offer">
  <div class="container">
    <h2 class="title"><span>СДЕЛАЕМ ВСЕ</span> ПО ВАШИМ ЗАМЕРАМ <span>И ОТПРАВИМ НА УКАЗАННЫЙ ВАМИ АДРЕС</span></h2>
    <h3 class="subtitle noline">ВАМ ОСТАЕТСЯ ТОЛЬКО СМОНТИРОВАТЬ ЛЕСТНИЦУ НА МЕСТЕ</h3>
    <div class="offer-block">
      <div class="offer-line"><h5>Для мастеров, дизайнеров и архитекторов контрактного производства</h5></div>
      <h4>Получите индивидуальное предложение о сотрудничестве</h4>
      <form action="#" method="post">
        <p>Введите номер Вашего телефона</p>
        <input type="tel" name="phone" class="input masked" placeholder="+ 7 (___) ___-__-__" />
        <button>УЗНАТЬ УСЛОВИЯ</button>
        <small>Нажимая кнопку вы соглашаетесь с условиями<br> Политики конфиденциальности</small>
      </form>
      <div class="offer-online">
        <span>
          <p>Мы онлайн.<br> Спрашивайте!</p>
          <a href="#"><img src="img/svg/wa.svg" alt=""></a>
          <a href="#"><img src="img/svg/tg.svg" alt=""></a>
        </span>
      </div>
    </div>
  </div>
</section>