<div class="projects-item">
  <div class="projects-item__head">
    <h3 class="projects-item__title">Описание лестницы</h3>
    <div class="control projects-item__control">
      <div class="control-arrow projects-item__arrow__prev"></div>
      <div class="control-count projects-item__count"><span class="current"></span>/<span class="total"></span></div>
      <div class="control-arrow projects-item__arrow__next"></div>
    </div>
  </div>
  <div class="projects-item__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
      <div class="swiper-slide"><img src="img/noble-1.jpg" alt="" loading="lazy"><div class="swiper-lazy-preloader"></div></div>
    </div>
  </div>
  <div class="projects-item__content">
    <div class="projects-item__label">
      <h4>Цена:</h4>
      <p>645 000 руб.</p>
    </div>
    <div class="projects-item__label">
      <h4>Каркас:</h4>
      <p>Металокаркас закрытого типа</p>
    </div>
    <div class="projects-item__label">
      <h4>Ограждение:</h4>
      <p>Ковка</p>
    </div>
    <div class="projects-item__label">
      <h4>Срок изготовления:</h4>
      <p>14 дней</p>
    </div>
    <div class="projects-item__label">
      <h4>Ступени:</h4>
      <p>Мультиплекс</p>
    </div>
    <a href="javascript:;" data-fancybox data-src="#popup" data-form="Нужна похожая лестница - " class="projects-item__btn">НУЖНА ПОХОЖАЯ ЛЕСТНИЦА</a>
  </div>
</div>