<section class="quiz">
  <div class="container">
    <div class="quiz-material">
      <h2 class="title">Подберем материалы, формы и цвет под ваши дизайн и пожелания</h2>
      <h3 class="subtitle">продумав каждую мелочь в конструкции, чтобы воплотить ваше представление в реальность</h3>
      <div class="quiz-material__text">
        <p>Итоговая цена на лестницу сильно зависит от цен на материалы и множества других факторов, поэтому заполнив форму здесь вы поможете нам понять, что вы хотите видеть у себя и представить вам предварительную цену, чтобы вы могли понять проходим ли мы по цене.</p>
        <p>100% точная стоимость, которую мы юридически фиксируем в договоре, вы получаете после замера нашими специалистами</p>
      </div>
      <img src="img/quiz-material.png" alt="" class="quiz-material__image">
      <div class="quiz-material__catalog">
        <p>Либо вы можете перейти в каталог лестниц с ценами и нажать на кнопку "Нужна похожая лестница"</p>
        <a href="#">Перейти в каталог</a>
      </div>
    </div>
    <div class="quiz-block">
      <div class="quiz-wrapper">
        <div class="quiz-progress">
          <div class="quiz-progress__line"></div>
          <div class="quiz-progress__text">Опрос пройден на <span>0%</span></div>
        </div>
      </div>
      <img src="img/quiz-man.png" alt="" class="quiz-man">
    </div>
  </div>
</section>