{% extends 'components/_layout.html' %}
{% set site_title = 'О компании ' %}

{% block content %}

<section class="about">
  <div class="container">
    <div class="about-content">
      <h2 class="title">СОБСТВЕННОЕ ПРОИЗВОДСТВО <span>ПОЛНОГО ЦИКЛА В КИРОВЕ</span></h2>
      <h3 class="subtitle noline">Благодаря отлаженным технологическим процессам можем дать цены до 20% лучше среднерыночных на тоже качество продукции</h3>
    </div>
    <div class="about-photos">
      <img src="img/about-1.jpg" alt="">
      <img src="img/about-2.jpg" alt="">
    </div>
    <div class="about-line"></div>
  </div>
</section>

{% endblock %}