{% extends 'components/_layout.html' %}
{% set site_title = 'Сотрудничество ' %}

{% block content %}

<section class="coop">
  <div class="container">
    <h2 class="title"><span>Приглашаем к сотрудничеству</span> мастеров, дизайнеров и дилеров</h2>
    <ul class="coop-list">
      <li>Покрытие<br> импортного<br> производителя</li>
      <li>Гарантия<br> на продукцию</li>
      <li>Возможность выбора<br> материала от эконом<br> до премиум класса</li>
      <li>Экологичность</li>
      <li>Долговечность</li>
      <li>Качество</li>
    </ul>
  </div>
</section>

{% include 'components/offer.html' %}

{% endblock %}