{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <div class="container">
    <h2 class="title">
      <span>Изготовим и смонтируем</span> удобную и безопасную лестницу
      <b>из <img src="img/hero-icon-1.png" alt="">дерева <img src="img/hero-icon-2.png" alt="">камня <img src="img/hero-icon-3.png" alt="">металла</b>
    </h2>
    <h3 class="subtitle">за 2 месяца с крепким и выносливым покрытием, <span>которое прослужит долгие годы и идеально впишется в интерьер</span></h3>
    <p class="hero-text"><b>С выгодой до 51.800 ₽</b> за счет собственного производства полного цикла в Кирове от доски до покраски</p>
    <a href="#" class="hero-btn"><b>Рассчитать стоимость и сроки<br> изготовления</b></a>
    <a href="#" class="hero-btn white"><b>Вызвать замерщика на объект</b></a>
  </div>
</section>

<section class="noble">
  <img src="img/svg/noble-bg.svg" alt="" class="noble-bg">
  <div class="container">
    <div class="noble-content">
      <h2 class="title"><span>Изделия</span><br> из благородного материала</h2>
      <h3 class="subtitle">подчеркивают статус и дарят неповторимую атмосферу теплоты в доме</h3>
      <p class="noble-text">Создаем уют и безопасность благодаря правильно подобраному <b>стилю, цвету и хирургической точности</b> на производстве</p>
      <div class="control noble-control">
        <div class="control-arrow noble-arrow__prev"></div>
        <div class="control-count noble-count"><span class="current"></span>/<span class="total"></span></div>
        <div class="control-arrow noble-arrow__next"></div>
      </div>
    </div>
    <div class="noble-slider__wrapper">
      <div class="noble-slider__content">
        <div class="noble-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="interfloor">
  <div class="container">
    <h4 class="headtitle">Изготовим междуэтажные лестницы</h4>
    <h2 class="title">ЛЮБОЙ СЛОЖНОСТИ И КОНФИГУРАЦИИ</h2>
    <div class="interfloor-grid">
      <div class="interfloor-item">
        <img src="img/interfloor-1.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">ЛЕСТНИЦЫ НА БЕТОНЕ</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="3"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
      <div class="interfloor-item">
        <img src="img/interfloor-2.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">ЛЕСТНИЦЫ НА МЕТАЛЛОКАРКАСЕ</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="5"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
      <div class="interfloor-item">
        <img src="img/interfloor-3.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">Лестница по<br> индивидуальному проекту</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="4"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
    </div>
  </div>
</section>

<section class="precision">
  <div class="container">
    <h2 class="title">Хирургическая точность на производстве</h2>
    <h3 class="subtitle noline">гарантирует <b>долговечность и надежность лестниц</b></h3>
    <div class="precision-grid">
      <div class="precision-list">
        <div class="precision-list__item">
          <img src="img/precision-1.png" alt="">
          <div class="precision-list__text">
            <h4>Точная геометрия</h4>
            <p>Допустимая погрешность<br> более 0,1</p>
          </div>
        </div>
        <div class="precision-list__item">
          <img src="img/precision-2.png" alt="">
          <div class="precision-list__text">
            <h4>Более 50 цветов на выбор</h4>
            <p>Окраска по RAL на собственном производстве с гарантией попадания в цвет</p>
          </div>
        </div>
        <div class="precision-list__item">
          <img src="img/precision-3.png" alt="">
          <div class="precision-list__text">
            <h4>Гарантия долговечности</h4>
            <p>Гарантия 10 лет на металоконструкции</p>
          </div>
        </div>
      </div>
      <div class="precision-photo"><img src="img/precision-photo.jpg" alt=""></div>
    </div>
  </div>
</section>

<section class="details">
  <div class="container">
    <h2 class="title">Строго отбираем каждую деталь вплоть до винта,</h2>
    <h3 class="subtitle noline">чтобы свести дефекты конструкции к нулю</h3>
    <div class="details-grid">
      <div class="details-image"><img src="img/details-warning.png" alt=""></div>
      <div class="details-content">
        <div class="details-text">Пристальный осмотр каждой заготовки, поступающей на производственную линию и контроль качества на ключевых участках технологического процесса производства, позволяют <span>не пропустить к клиенту изделие с дефектами</span></div>
        <div class="details-price">
          <img src="img/details-price.png" alt="">
          <p>Благодаря отлаженным технологическим процессам можем дать цены до 20% лучше среднерыночных на тоже качество продукции</p>
        </div>
        <a href="#" data-fancybox class="details-video">Смотрите видео<br> как работает производство</a>
      </div>
    </div>
  </div>
</section>

<section class="multiplex">
  <div class="container">
    <h2 class="title">Получите лестницу премиум-класса по цене обычной</h2>
    <h3 class="subtitle noline">благодаря уникальной разработке "Мультиплекс"</h3>
    <ul class="multiplex-list">
      <li>Создаем <span>цельный и стильный рисунок</span> за счет соединения 5-6 ламелей по всей ширине ступений</li>
      <li>Выглядит дорого не уступая дубу и ясеню при этом <span>на 30% дешевле</span></li>
      <li><span>Влагостойкий материал</span> без деформации, что обеспечивает на 40% больший срок эксплуатации, чем у аналогов из цельного массива</li>
    </ul>
  </div>
</section>

{% include 'components/quiz.html' %}

<section class="showroom">
  <div class="container">
    <h2 class="title">Убедитесь лично в качестве и надежности нашей продукции</h2>
    <h3 class="subtitle noline">посетив один из трех шоу-румов в своем регионе</h3>
    <div class="showroom-grid">
      <div class="showroom-content">
        <h4>Мы очень ценим, что вы нашли время и ознакомились с нашим сайтом!</h4>
        <p>Если вы хотите лично посетить наши шоу-рум, вы можете приехать самостоятельно в рабочее время по одному из адресов:</p>
        <ul>
          <li>г. Москва, Вернисажная, 13</li>
          <li>г. Казань, 2-я Азинская улица, 7Б</li>
          <li>г. Киров, Производственная улица, 45</li>
        </ul>
        <p>У нас часто бывает высокая посещаемость и если вы хотите, чтобы менеджер провел для вас персональную презентацию заполните номер в форме ниже и мы согласуем время и дату визита</p>
        <form action="#" method="post">
          <b>Введите номер Вашего телефона</b>
          <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="masked" />
          <button>Записаться в шоу-рум</button>
          <small>Нажимая кнопку вы соглашаетесь с условиями<br> Политики конфиденциальности</small>
        </form>
        <div class="showroom-social">
          <a href="#"><img src="img/svg/wa.svg" alt=""></a>
          <a href="#"><img src="img/svg/tg.svg" alt=""></a>
          <span>Мы онлайн.<br> Спрашивайте!</span>
        </div>
      </div>
      <div class="showroom-photos">
        <img src="img/showroom-1.jpg" alt="" loading="lazy">
        <img src="img/showroom-2.jpg" alt="" loading="lazy">
        <img src="img/showroom-3.jpg" alt="" loading="lazy">
      </div>
    </div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <h2 class="title">ТОЛЬКО 5 ШАГОВ ОТДЕЛЯЮТ ВАС ОТ ЛЕСТНИЦЫ ВАШЕЙ МЕЧТЫ</h2>
    <div class="steps-grid">
      <div class="steps-item">
        <h3>Оставляете заявку</h3>
        <p>По телефону<br><a href="tel:+7 (987) 294-94-74" class="phone">+7 (987) 294-94-74</a><a href="tel:+7 (999) 580-70-70" class="phone">+7 (999) 580-70-70</a></p>
        <p class="social">Через мессенджеры<br><a href="#"><img src="img/svg/wa.svg" alt=""></a><a href="#"><img src="img/svg/tg.svg" alt=""></a></p>
        <p><a href="#" class="link">Через форму на сайте</a></p>
        <p>После получения заявки с вами свяжется менеджер для уточнения деталей</p>
      </div>
      <div class="steps-item">
        <h3>Замер и подготовка проекта</h3>
        <p><b>Выезжаем к вам</b> и собираем информацию об объекте</p>
        <p><b>Проводим точные замеры</b></p>
      </div>
      <div class="steps-item">
        <h3>Оформление</h3>
        <p>Разрабатываем <b>рабочий проект</b></p>
        <p>Согласовываем <b>смету и стоимость работ</b></p>
        <p><b>Заключаем</b> договор</p>
        <p><b>Предоплата 50%</b> любым удобным для вас способом</p>
      </div>
      <div class="steps-item">
        <h3>Производство</h3>
        <p>После поступления денежных средств на наш счет мы отдаем ваш заказ в <b>производство</b></p>
        <p>В назначенные дату и время <b>осуществляется доставка</b> оплаченного вами заказа по заявленному адресу</p>
      </div>
      <div class="steps-item">
        <h3>Монтаж и оплата заказа</h3>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h2 class="title">ОТВЕТЫ НА ВАШИ САМЫЕ ЗАДАВАЕМЫЕ ВОПРОСЫ И ПОМОЩЬ В ВЫБОРЕ</h2>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">КАКАЯ ДРЕВЕСИНА ИСПОЛЬЗУЕТСЯ ДЛЯ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ?</div>
      <div class="faq-item__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid recusandae optio nobis dolore hic possimus consectetur, ut soluta sint quidem error? Facilis ullam voluptate eos odit itaque culpa animi praesentium?</p>
      </div>
    </div>
  </div>
</section>

<section class="catalog">
  <div class="container">
    <div class="catalog-block">
      <h2 class="title"><span>Не до конца уверены,</span> какая лестница вам подойдет?</h2>
      <h3 class="subtitle noline">Скачайте <b>каталог лестниц с ценами и примерами</b> в 1 клик и выберете всей семьей из <b>800+ вариантов,</b> ту что ближе всего к желаемому, а далее мы вместе доведем проект до идеала</h3>
      <form action="#" method="post">
        <p>Пришлем на удобный вам мессенджер</p>
        <select name="messenger" class="input">
          <option value="Telegram">Telegram</option>
          <option value="What's App">What's App</option>
        </select>
        <input type="tel" name="phone" class="input masked" placeholder="Ваш телефон" />
        <button><b>Скачать каталог<br> (PDF 2,8 mb)</b></button>
      </form>
      <img src="img/catalog-book.png" alt="" class="catalog-book">
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <img src="img/contact-hand.png" alt="" class="contact-hand">
    <h3 class="subtitle noline">Если вы еще не готовы выйти с нами на связь,</h3>
    <h2 class="title">подпишитесь на соц.сети чтобы, чтобы не потерять</h2>
    <p class="contact-text">Регулярно публикуем примеры работ, новые оригинальные идеи лестниц и рассказываем про тонкости правильного производства и установки лестници для безопасности всей семьи</p>
    <ul class="contact-social">
      <li><a href="#"><img src="img/vk.png" alt=""></a></li>
      <li><a href="#"><img src="img/svg/tg.svg" alt=""></a></li>
    </ul>
    <div class="contact-block">
      <div class="contact-content">
        <h3 class="subtitle noline">ОСТАЛИСЬ ВОПРОСЫ?</h3>
        <h4>Смело звоните нам!</h4>
        <div class="contact-phones">
          <p>Пн. - Вс.: 10:00 - 19:00</p>
          <a href="tel:+7 (987) 294-94-74">+7 (987) 294-94-74</a><br>
          <a href="tel:+7 (999) 580-70-70">+7 (999) 580-70-70</a>
        </div>
        <div class="contact-messengers">
          <p>Задайте вопрос нам в мессенджерах</p>
          <ul>
            <li><a href="#" class="wa"><img src="img/svg/wa.svg" alt="">WhatsApp</a></li>
            <li><a href="#" class="tg"><img src="img/svg/tg.svg" alt="">Telegram</a></li>
          </ul>
        </div>
      </div>
      <div class="contact-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4d3759cf05a8a9229abc403de1119d91ddbb7ace2fa20dc9bc281e731f465dcb&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script></div>
    </div>
  </div>
</section>

{% endblock %}