{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="noble">
  <img src="img/svg/noble-bg.svg" alt="" class="noble-bg">
  <div class="container">
    <div class="noble-content">
      <h2 class="title"><span>Изделия</span><br> из благородного материала</h2>
      <h3 class="subtitle">подчеркивают статус и дарят неповторимую атмосферу теплоты в доме</h3>
      <p class="noble-text">Создаем уют и безопасность благодаря правильно подобраному <b>стилю, цвету и хирургической точности</b> на производстве</p>
      <div class="control noble-control">
        <div class="control-arrow noble-arrow__prev"></div>
        <div class="control-count noble-count"><span class="current"></span>/<span class="total"></span></div>
        <div class="control-arrow noble-arrow__next"></div>
      </div>
    </div>
    <div class="noble-slider__wrapper">
      <div class="noble-slider__content">
        <div class="noble-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}