{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="noble">
  <img src="img/svg/noble-bg.svg" alt="" class="noble-bg">
  <div class="container">
    <div class="noble-content">
      <h2 class="title"><span>Изделия</span><br> из благородного материала</h2>
      <h3 class="subtitle">подчеркивают статус и дарят неповторимую атмосферу теплоты в доме</h3>
      <p class="noble-text">Создаем уют и безопасность благодаря правильно подобраному <b>стилю, цвету и хирургической точности</b> на производстве</p>
      <div class="control noble-control">
        <div class="control-arrow noble-arrow__prev"></div>
        <div class="control-count noble-count"><span class="current"></span>/<span class="total"></span></div>
        <div class="control-arrow noble-arrow__next"></div>
      </div>
    </div>
    <div class="noble-slider__wrapper">
      <div class="noble-slider__content">
        <div class="noble-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/noble-1.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="interfloor">
  <div class="container">
    <h4 class="headtitle">Изготовим междуэтажные лестницы</h4>
    <h2 class="title">ЛЮБОЙ СЛОЖНОСТИ И КОНФИГУРАЦИИ</h2>
    <div class="interfloor-grid">
      <div class="interfloor-item">
        <img src="img/interfloor-1.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">ЛЕСТНИЦЫ НА БЕТОНЕ</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="3"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
      <div class="interfloor-item">
        <img src="img/interfloor-2.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">ЛЕСТНИЦЫ НА МЕТАЛЛОКАРКАСЕ</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="5"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
      <div class="interfloor-item">
        <img src="img/interfloor-3.jpg" alt="" class="interfloor-item__img">
        <h3 class="interfloor-item__name">Лестница по<br> индивидуальному проекту</h3>
        <h4 class="interfloor-item__deadline">Срок изготовления — <b>2-3 недели</b></h4>
        <p class="interfloor-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
        <div class="interfloor-item__price" data-stars="4"><i></i><i></i><i></i><i></i><i></i></div>
        <a href="#" class="interfloor-item__btn">УЗНАТЬ СТОИМОСТЬ</a>
      </div>
      <div class="interfloor-line"></div>
    </div>
  </div>
</section>

<section class="precision">
  <div class="container">
    <h2 class="title">Хирургическая точность на производстве</h2>
    <h3 class="subtitle noline">гарантирует <b>долговечность и надежность лестниц</b></h3>
    <div class="precision-grid">
      <div class="precision-list">
        <div class="precision-list__item">
          <img src="img/precision-1.png" alt="">
          <div class="precision-list__text">
            <h4>Точная геометрия</h4>
            <p>Допустимая погрешность<br> более 0,1</p>
          </div>
        </div>
        <div class="precision-list__item">
          <img src="img/precision-2.png" alt="">
          <div class="precision-list__text">
            <h4>Более 50 цветов на выбор</h4>
            <p>Окраска по RAL на собственном производстве с гарантией попадания в цвет</p>
          </div>
        </div>
        <div class="precision-list__item">
          <img src="img/precision-3.png" alt="">
          <div class="precision-list__text">
            <h4>Гарантия долговечности</h4>
            <p>Гарантия 10 лет на металоконструкции</p>
          </div>
        </div>
      </div>
      <div class="precision-photo"><img src="img/precision-photo.jpg" alt=""></div>
    </div>
  </div>
</section>

<section class="details">
  <div class="container">
    <h2 class="title">Строго отбираем каждую деталь вплоть до винта,</h2>
    <h3 class="subtitle noline">чтобы свести дефекты конструкции к нулю</h3>
    <div class="details-grid">
      <div class="details-image"><img src="img/details-warning.png" alt=""></div>
      <div class="details-content">
        <div class="details-text">Пристальный осмотр каждой заготовки, поступающей на производственную линию и контроль качества на ключевых участках технологического процесса производства, позволяют <span>не пропустить к клиенту изделие с дефектами</span></div>
        <div class="details-price">
          <img src="img/details-price.png" alt="">
          <p>Благодаря отлаженным технологическим процессам можем дать цены до 20% лучше среднерыночных на тоже качество продукции</p>
        </div>
        <a href="#" data-fancybox class="details-video">Смотрите видео<br> как работает производство</a>
      </div>
    </div>
  </div>
</section>

<section class="multiplex">
  <div class="container">
    <h2 class="title">Получите лестницу премиум-класса по цене обычной</h2>
    <h3 class="subtitle noline">благодаря уникальной разработке "Мультиплекс"</h3>
    <ul class="multiplex-list">
      <li>Создаем <span>цельный и стильный рисунок</span> за счет соединения 5-6 ламелей по всей ширине ступений</li>
      <li>Выглядит дорого не уступая дубу и ясеню при этом <span>на 30% дешевле</span></li>
      <li><span>Влагостойкий материал</span> без деформации, что обеспечивает на 40% больший срок эксплуатации, чем у аналогов из цельного массива</li>
    </ul>
  </div>
</section>

{% endblock %}