{% extends 'components/_layout.html' %}
{% set site_title = 'Каталог лестниц' %}

{% block content %}

<section class="projects">
  <div class="container">
    <h2 class="title"><span>ВЫПОЛНЯЕМ</span> ПРОЕКТЫ ЛЮБОГО УРОВНЯ СЛОЖНОСТИ</h2>
    <a href="#" class="hero-btn"><b>ЗАКАЗАТЬ БЕСПЛАТНЫЙ<br> РАСЧЕТ И ЗАМЕР</b></a>
  </div>
</section>

<div class="projects-wrapper">
  <div class="container">
    <div class="projects-filter">
      <h3 class="subtitle noline">Наше портфолио</h3>
      <p>Выберете подходящие работы из более 800 лестниц</p>
      <div class="projects-filter__grid">
        <div class="projects-filter__group">
          <b>Вид лестницы</b>
          <div class="projects-filter__input">
            <p>Выберите варианты</p>
            <div class="projects-filter__dropdown">
              <label class="projects-filter__item">
                <input type="checkbox" name="type[]" value="" />
                <span>Название вида лестницы 1</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="type[]" value="" />
                <span>Название вида лестницы 2</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="type[]" value="" />
                <span>Название вида лестницы 3</span>
              </label>
            </div>
          </div>
        </div>
        <div class="projects-filter__group">
          <b>Материал</b>
          <div class="projects-filter__input">
            <p>Выберите варианты</p>
            <div class="projects-filter__dropdown">
              <label class="projects-filter__item">
                <input type="checkbox" name="material[]" value="" />
                <span>Название материала 1</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="material[]" value="" />
                <span>Название материала 2</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="material[]" value="" />
                <span>Название материала 3</span>
              </label>
            </div>
          </div>
        </div>
        <div class="projects-filter__group">
          <b>Ограждение</b>
          <div class="projects-filter__input">
            <p>Выберите варианты</p>
            <div class="projects-filter__dropdown">
              <label class="projects-filter__item">
                <input type="checkbox" name="fencing[]" value="" />
                <span>Название ограждения 1</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="fencing[]" value="" />
                <span>Название ограждения 2</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="fencing[]" value="" />
                <span>Название ограждения 3</span>
              </label>
            </div>
          </div>
        </div>
        <div class="projects-filter__group">
          <b>Ступени</b>
          <div class="projects-filter__input">
            <p>Выберите варианты</p>
            <div class="projects-filter__dropdown">
              <label class="projects-filter__item">
                <input type="checkbox" name="steps[]" value="" />
                <span>Название ступени 1</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="steps[]" value="" />
                <span>Название ступени 2</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="steps[]" value="" />
                <span>Название ступени 3</span>
              </label>
            </div>
          </div>
        </div>
        <div class="projects-filter__group">
          <b>Цвет</b>
          <div class="projects-filter__input">
            <p>Выберите варианты</p>
            <div class="projects-filter__dropdown">
              <label class="projects-filter__item">
                <input type="checkbox" name="color[]" value="" />
                <span>Название цвета 1</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="color[]" value="" />
                <span>Название цвета 2</span>
              </label>
              <label class="projects-filter__item">
                <input type="checkbox" name="color[]" value="" />
                <span>Название цвета 3</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}