{% extends 'components/_layout.html' %}
{% set site_title = 'Каталог лестниц' %}

{% block content %}

<section class="projects">
  <div class="container">
    <h2 class="title"><span>ВЫПОЛНЯЕМ</span> ПРОЕКТЫ ЛЮБОГО УРОВНЯ СЛОЖНОСТИ</h2>
    <a href="#" class="hero-btn"><b>ЗАКАЗАТЬ БЕСПЛАТНЫЙ<br> РАСЧЕТ И ЗАМЕР</b></a>
  </div>
</section>

<div id="filter" class="projects-filter__popup">
  <div class="projects-filter__group">
    <b>Геометрия лестницы</b>
    <div class="projects-filter__input">
      <p>Выберите варианты</p>
      <div class="projects-filter__dropdown">
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="Прямая" />
          <span>Прямая</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="Винтовая" />
          <span>Винтовая</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="П-образная с площадкой" />
          <span>П-образная с площадкой</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="Г-образная с площадкой" />
          <span>Г-образная с площадкой</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="Г-образные через забежные" />
          <span>Г-образные через забежные</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="type[]" value="П-образные через забежные" />
          <span>П-образные через забежные</span>
        </label>
      </div>
    </div>
  </div>
  <div class="projects-filter__group">
    <b>Каркас</b>
    <div class="projects-filter__input">
      <p>Выберите варианты</p>
      <div class="projects-filter__dropdown">
        <label class="projects-filter__item">
          <input type="checkbox" name="frame[]" value="Металокаркас закрытого типа" />
          <span>Металокаркас закрытого типа</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="frame[]" value="Металокаркас открытого типа" />
          <span>Металокаркас открытого типа</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="frame[]" value="Бетон" />
          <span>Бетон</span>
        </label>
      </div>
    </div>
  </div>
  <div class="projects-filter__group">
    <b>Ограждение</b>
    <div class="projects-filter__input">
      <p>Выберите варианты</p>
      <div class="projects-filter__dropdown">
        <label class="projects-filter__item">
          <input type="checkbox" name="fencing[]" value="Ковка" />
          <span>Ковка</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="fencing[]" value="Стекло" />
          <span>Стекло</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="fencing[]" value="Нержавеющая сталь" />
          <span>Нержавеющая сталь</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="fencing[]" value="Дерево" />
          <span>Дерево</span>
        </label>
      </div>
    </div>
  </div>
  <div class="projects-filter__group">
    <b>Ступени</b>
    <div class="projects-filter__input">
      <p>Выберите варианты</p>
      <div class="projects-filter__dropdown">
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Мультиплекс" />
          <span>Мультиплекс</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Ясень" />
          <span>Ясень</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Бук" />
          <span>Бук</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Лиственница" />
          <span>Лиственница</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Дуб" />
          <span>Дуб</span>
        </label>
        <label class="projects-filter__item">
          <input type="checkbox" name="steps[]" value="Сосна" />
          <span>Сосна</span>
        </label>
      </div>
    </div>
  </div>
  <a href="javascript:;" class="projects-filter__apply">Применить фильтр</a>
</div>

<div class="projects-wrapper">
  <div class="container">
    <div class="projects-filter">
      <h3 class="subtitle noline">Наше портфолио</h3>
      <p>Выберете подходящие работы из более 800 лестниц</p>
      <a href="javascript:;" data-fancybox data-src="#filter" class="projects-filter__btn">Открыть фильтр</a>
    </div>
  </div>
</div>

{% endblock %}